@{
    ViewBag.Title = "Index";
}

<li>
    <div>HTML Template Bundling</div>
    <div>
        <ul>
            <h2>
                <li>@Html.ActionLink("Code", "Code", "Template")</li>
                <li>@Html.ActionLink("ConfigFile", "ConfigFile", "Template")</li>
                <li>@Html.ActionLink("Angular", "Angular", "Template")</li>
            </h2>
        </ul>
    </div>
</li>
