<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <htmlTemplateBundle path="~/bundles/Config">
    <include path="~/content/templates/app2.html" />
  </htmlTemplateBundle>
  <htmlTemplateBundle path="~/bundles/WildCardConfig">
    <include path="~/content/templates/wildCard/*.html" />
  </htmlTemplateBundle>
</bundles>
